body {
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    margin: 0;
    background-color: #EEE;
    color: #333;
}

h1 {
    font-family: "Baumans", cursive;
    font-size: 64px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}

a {
    color: #1d96ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-image: url(bilder/bullet.png);
}

.content {
    padding: 30px 50px;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    margin: 0 -10px;
}

.flex div {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 10px;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.sykkelbilde {
    width: 400px;
    float: right;
    box-sizing: border-box;
    margin: 5px 5px 5px 20px;
    box-shadow: 0 0 15px #888;
    border-radius: 4px;
    transition-duration: 0.1s;
}

.sykkelbilde:hover {
    transform: scale(1.03);
}

.page {
    max-width: 1000px;
    margin: 0 auto 20px auto;
    background-color: #FAFAFA;
    box-shadow: 0 0 30px #888;
}

.nav {
    padding: 0 15px 0 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #222;
}

.nav a {
    display: block;
    float: left;
    line-height: 100px;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #EEE;
    transition-duration: 0.2s;
}

.nav a:hover {
    color: #1d96ff;
}

.logo a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav img {
    height: 60px;
}

.banner {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(bilder/bakgrunn.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.ads {
    color: #EEE;
    background-color: #222;
    padding: 50px 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.ads img {
    height: 100px;
}

.kildekode {
    text-align: center;
    margin-bottom: 20px;
}

.kildekode a {
    margin: 0 20px;
    color: #888;
    font-weight: bold;
    transition-duration: 0.1s;
}

.kildekode a:hover {
    text-decoration: none;
    color: #555;
}

.kildekode div {
    display: flex;
    justify-content: center;
}

form h3 {
    font-size: 16px;
    margin-bottom: 0;
}
